/* Across pages */

body, html {
    height: 100%;
    margin: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.text {
    text-align: justify;
    padding: 14px;
    font-family: 'Open Sans', sans-serif;
}

.titles {
    text-align: center;
    /* text-transform: uppercase; */
    /* color: #474747; */
    color: rgb(19, 18, 18);
    /* font-family: 'Source Sans Pro', sans-serif; */
    /* font-family: 'Open Sans', sans-serif; */
    font-family: 'Caveat', cursive;
    /* line-height: 1.5; */
    /* font-weight: bold; */
    font-size: 30px;
    margin: 20px;
    font-weight: 600;
}

/* Homepage */

#hero-image {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(images/lajolla.jpg);
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

#icon {
    float: right;
    background-color: rgb(235, 225, 225);
    border-radius: 25px;
    height: 14px;
    width: 12px;
    margin: 22px;
    cursor: pointer;
}

#icon1 {
    margin: -4px;
    height: 20px;
}

#hoverDiv {
    display: inline-block;
    z-index: 2;
}

#hero-text {
    text-align: center;
    position: absolute;
    top: 52%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

#lineOne, #lineTwo, #underlinedText {
    font-family: 'Caveat', cursive;
}

#lineOne {
    font-weight: normal;
    font-size: 37px;
    padding: 4px;
    line-height: 0.3;
}

#lineTwo {
    font-size: 21px;
    font-weight: 500;
    margin: 10px;
    line-height: 0.8;
    padding: 4px;
}

#underlinedText {
    text-decoration: underline;
    font-size: 19px;
    padding: 12px;
    line-height: 0.8;
    cursor: pointer;
}

#hero-text-button {
    font-family: 'Caveat', cursive;
    display: inline-block;
    padding: 4px 14px;
    margin: 0;
    border-radius: 16px;
    color: black;
    background-color: rgb(229, 226, 226);
    cursor: pointer;
    border: none;
    font-weight: 400;
    font-size: 17px;
}

#hero-text-button:hover {
    background-color: rgb(85, 85, 85);
    color: white;
}

/* My Story */

.header {
    text-align: center;
    padding: 60px;
}

#top1 {
    height: 14%;
}

#myStory-section {
    max-width: 500px;
    margin: auto;
}

#bottom1 {
    height: 24%;
    text-align: center;
}

/* Contact */

#top2 {
    height: 22%;
}

#contact-section {
    max-width: 460px;
    margin: auto;
}

#contact-text {
    text-align: justify;
    margin: -4px;
}

#contact-text3 {
    text-align: center;
    margin: 4px;
}

#LinkedIn {
    color: purple;
}

#bottom2 {
    margin: 26px;
    text-align: center;
}

/* Additional buttons */

#back1, #next1, #back2, #next2 {
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Caveat', cursive; */
    margin: 16px 12px;
    padding: 5px 14px;
    background-color:#fff;
    border-radius: 16px;
    cursor: pointer;
}

#back1:hover, #next1:hover, #back2:hover, #next2:hover {
    background-color: black;
    color: white;
}