h1 {
    text-align: center;
    color: white;
}

p {
    font-family: "Comic Sans MS", cursive, sans-serif;
}

body, html {
    background-color: #f2f2f2;
}

#boxOne {
    text-align: center;
    background: linear-gradient(#00cc99, #3d8f7a);
}

#boxTwo {
    text-align: center;
    height: 500px;
    background-image: url(images/imageOne.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}

/* #boxThree {
    float: left;
} */

#asideTitle {
    text-align: center;
    width: 430px;
    height: 50px;
    padding: 10px;
    margin: -1px;
    color: white;
    background-color: rgb(7, 77, 77);
    border: 1px solid black;
}    

#aside {
    text-align: center;
    width: 95%;
    height: 70%;
    padding: 9px;
    margin: 2px;
    border: 1px solid black;
    background-image: url(images/imageFour.jpg);
    background-repeat: no-repeat;
    background-position: center;
}

#boxAside {
    width: 450px;
    height: 308px;
    margin: 4px;
    border: 2px dotted black;
    float: right;
    background-color: white;
}

/* #spanTwo {
    display: inline-block;
    width: 125px;
    height: 600px;
    padding: 5px;
    border: black;
    background-color: turquoise;
    
} */

.anchor {
    font-family: 'Indie Flower', cursive;
}

#boxThree {
    background-color: #e6fffa;
}

.paragraph {
    width: 65vw;
    height: 20vh;
    padding: 10px;
    margin: 2px;
    border: 1px dotted black;
}

#table {
    width: 430px;
    border: 1px solid black;
    border-collapse: collapse;
}

#unorderedList2 {
    list-style-position: inside;
}

/* #firstRow, #tableHeader {
    border: 1px solid black;
    border-collapse: collapse;
} */

th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

.Lists {
    text-align: left;
}

#tableFooter {
    height: 4%;
}

#travelImage {
    background-repeat: no-repeat;
    background-position: left;
    height: 4vh;
    width: 6vw;
}

#section {
    margin: 12px;
    padding: 20px;
    border: 2px solid turquoise;
    background-color: #e6fffa;
    outline: 6px solid white;
    outline-offset: 6px;
    /* position: relative;
    left: 20px;
    top: 8px;
    z-index: 10; */
}

/* #paragraphThree {
    margin: 10px;
    position: absolute;
    border: 2px solid grey;
    outline: 6px solid white;
    outline-offset: 2px;
    z-index: -1;
    z-index: 1
} */

    /* margin: 2px;
    padding: 4px;
    border: 2px solid black;
    background-color: #318372;
    outline: 6px solid white;
    outline-offset: 6px;
    top: 50px;
    right: 100px;

    offset: relative;
    top: 12px;
    left: 10px;
    outline: 6px solid white;
    outline-offset: 6px; */
    
@media screen and (max-width: 600px) {
    .div {
        width: 100%;
    }
}

#boxAnimation {
    width: 50%;
    height: 10px;
    background-color: teal;
    position: relative;
    animation-name: welcome;
    animation-duration: 11s;
}

@keyframes welcome {
    from {background-color: teal;}
    to {background-color: grey;}
    0% { background-color: teal; left: 0px;}
    50% {background-color: white; left: 50vw;}
    100% {background-color: grey; left: 100vw;}
    /* 50% {background-color: white; left: 475px;}
    100% {background-color: grey; left: 950px;} */
}

#boxFour {
    text-align: center;
    clear: both;
    background: linear-gradient(#3d8f7a, #616b69);
}

#button {
    background-color: rgb(29, 105, 105);
    color: white;
    margin: 14px;
    opacity: 0.7;
    transition: 0.4s;
}

#button:hover {
    opacity: 2;
}

.button--state-success {
    color: teal;
    background: white;
    border-color: black;
}